
<%=form_tag%>

<%=radio_button_tag tea_base_type.name,0%><%=tea_base_type.name%>
 </form>
<!--
<li role="presentation" style="min-width: 240px" class="tea_bases_observer testli" value="<%= tea_base_type.id %>" onclick="" data-text="<%= tea_base_type.name %>">
    <a role="menuitem" tabindex="-1" href="javascript:void(0);"><%= tea_base_type.name %></a>
</li>
 -->

 
 